@import '../../scss/index';

.btn {
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 0.3rem;
    font-family: $welcome-font;
    color: #201310;
    font-size: 2em;
    font-weight: 400;
    background: #8ec640;
    padding: 1.5rem 3.5rem 1.5rem 3.5rem;

    &:hover {
      background: #9ec640;
      // padding: 1.6rem 3.7rem 1.6rem 3.7rem;
      // font-size: 2.2em;
      // color: white;
    }

    @include phone {
      padding: 0.5rem 3rem 0.5rem 3rem;
    }

    @include tablet {
      padding: 0.8rem 3rem 0.8rem 3rem;
    }

    @include laptop {
      padding: 0.8rem 3rem 0.8rem 3rem;
    }

    @include desktop {
      padding: 0.8rem 3rem 0.8rem 3rem;
    }

  }