<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /site01  # Cambia "subdirectory" por "landing"
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule . /site01/index.html [L]  # Cambia "/index.html" por "/site01/index.html"
</IfModule>