@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@1;100;200;300;400;500;800;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Magra:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

$main_font: 'Abril Fatface';
$second-font: 'Ysabeau Office';
$welcome-font: 'Montserrat';
$logo-font: 'Magra';
$iam-font: 'Oooh Baby';
$second-logo-font: 'Gruppo';